.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.count-button{
  cursor: pointer;
  background-color: dimgrey;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
  color: white;
  border: 2px solid dimgrey;
}

.container{
  width: 1180px;
  height: fit-content;
  border: 3px solid #282c34;
  margin: 10px auto;
}

input[type=text]{
  width: 480px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
  outline: 2px solid dimgrey;
  border: none;
  border-radius: 8px;
  transition: outline;
  transition-duration: 200ms;
}
input:hover{
  outline: 2px solid #61dafb;
}
input:focus{
  outline: 2px solid #61dafb;
}

.todo-button{
  background-color: dimgrey;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border: 2px solid dimgrey;
  border-radius: 10px;
  cursor: pointer;
}

button{
  transition: color, background-color, border;
  transition-duration: 200ms;
}
button:hover{
  background-color: #61dafb;
  border: 2px solid #61dafb;
  color: black;
}
